@font-face {
  font-family: "raleway";
  src: url("/fonts/Raleway/Raleway-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "babes";
  src: url("/fonts/Bebas_Neue/BebasNeue-Regular.ttf")
    format("truetype");
}

.raleway {
  font-family: "raleway" !important;
  color: #2e2a2a;
  font-weight: 400;
  letter-spacing: 1px !important;
}

.ultra {
  font-family: "babes" !important;
  color: #2e2a2a;
  font-weight: 400;
  letter-spacing: 2px !important;
}
.iltra-normal {
  font-family: "babes" !important;
  color: #2e2a2a;
  font-weight: 500;
  letter-spacing: 2px !important;
}
.ultra-medium {
  font-family: "babes" !important;
  color: #2e2a2a;
  font-weight: 500;
  letter-spacing: 2px !important;
}
.ultra-bold {
  font-family: "babes" !important;
  color: #2e2a2a;
  font-weight: 700;
  letter-spacing: 2px !important;
}
.ultra-semibold {
  font-family: "babes" !important;
  color: #2e2a2a;
  font-weight: 600;
  letter-spacing: 2px !important;
}
.ultra-dark {
  font-family: "babes" !important;
  color: #2e2a2a;
  font-weight: 900;
  letter-spacing: 2px !important;
}
.ultra-blacker {
  font-family: "babes" !important;
  color: #2e2a2a;
  font-weight: 1000;
  letter-spacing: 2px !important;
}
.first-background {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./asset/images/abouts-bg (1).png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.second-background {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./asset/images/image-9.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.third-background {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./asset/images/image-11.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fourth-background {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./asset/images/image-5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.building {
  background-image: url("./asset/images/image-22.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.textured-background {
  background-image:linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ), url("./asset/images/dark-pattern.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-ending {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.9)
    ),
    url("./asset/images/ending-picture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.MuiButton-root {
  z-index: 0 !important;
}
.z-index {
  z-index: 1300 !important;
}
.about-first {
  background-image: url("./asset/images/about-first.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.truck-bg{
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)
  ),url("./asset/images/slide-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.person-bg{
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0.6, 0.3)
  ),url("./asset/images/girl-carry.jpg");
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;
}
